<% unless items.nil? || items.empty? %>
  <% unless item_type.nil?%>
    <h5><%= item_type.capitalize %></h5>
  <% end %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="200">Name</th>
        <th width="100">Price</th>
        <th width="100">Units</th>
        <th width="150">&nbsp;</th>
        <th width="100">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= number_to_currency item.current_price %></td>
          <td><%= item.units_per_item %> <%= item.category == 'bread' ? 'loaf' : item.category %></td>
            <td>
            <% if can? :add_to_cart, Order %>
              <%= link_to(add_to_cart_path(item), class: 'waves-effect waves-light btn') do %>
                &nbsp;Add to<i id="add_to_cart_icon" class="material-icons right white-text">shopping_cart</i>&nbsp;
              <% end %>
            <% end %>
            </td>
            <td>
          <% if logged_in? && current_user.role?(:admin) %> 
            <% if item.active? || item.active.nil? %>
              <%= link_to "Deactivate", item_deactivate_path(item), class: 'waves-effect waves-light btn' %>
            <% else %> 
              <%= link_to "Activate", item_activate_path(item), class: 'waves-effect waves-light btn' %>
            <% end %>
          <% end %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>