<table class="table table-striped centered">
  <thead>
    <tr>
      <th width="100">Quantity</th>
      <th width="300">Item</th>
      <th width="100">Unit Price</th>
      <th width="100">Subtotal</th>
      <% if controller.controller_name == 'home' %>
        <th>Shipped?</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% order_items.each do |oi| %>
      <tr>
        <td align="center"><%= oi.quantity %></td>
        <td><%= link_to oi.item.name, item_path(oi.item) %></td>
        <td align="center"><%= number_to_currency oi.item.price_on_date(oi.order.date) %></td>
        <td align="right"><%= number_to_currency oi.subtotal(oi.order.date) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <% if controller.controller_name == 'home' %>
          <td>
            <% if oi.shipped_on.nil? %>
              <% if oi.order.order_items.unshipped.size == 1 %>
                <%= link_to(eval("mark_shipped_path(oi)"), method: 'patch', data: {confirm: "Are you sure you want to totally ship this order? You cannot go back from this."}, class: 'material-icons') do %>
          &nbsp;check_box_outline_blank
                <% end %>
              <% else %>
                <%= link_to 'check_box_outline_blank', mark_shipped_path(oi), class: 'material-icons', method: 'patch' %>
              <% end %>
            <% else %>
              <%= link_to 'check', mark_unshipped_path(oi), class: 'material-icons', method: 'patch' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>