<% if @non_customer_users.empty? %>
  <h4>No users at this time.</h4>
<% else %>
  <h4>Employees</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Username</th>
        <th width="125">Role</th>
        <th width="200">Active</th>
      </tr>
    </thead>
    <tbody>
      <% @non_customer_users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.role.capitalize %></td>
          <td><%= (user.active || user.active.nil?) ? 'Yes' : 'No'  %></td>
          <td>
          <%= link_to(edit_user_path(user), class: 'waves-effect waves-light btn-floating yellow accent-4') do %>
            <i class="material-icons black-text">edit</i>
          <% end %>
        </td>
        <td>
          <% if logged_in? && current_user.role?(:admin) %> 
            <% if user.active? || user.active.nil? %>
              <%= link_to "Deactivate", user_deactivate_path(user), class: 'waves-effect waves-light btn' %>
            <% else %> 
              <%= link_to "Activate", user_activate_path(user), class: 'waves-effect waves-light btn' %>
            <% end %>
          <% end %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate @non_customer_users, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>