<h4><%= state.capitalize %> Customers at PATS</h4>

<% if customers.empty? %>
   
  There are no <%= state %> Customers at this time

<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Name</th>
        <th width="125">Phone</th>
        <th width="200">Email</th>
      </tr>
    </thead>
    <tbody>
      <% customers.each do |customer| %>
        <tr>
          <td><%= link_to customer.name, customer_path(customer) %></td>
          <td><%= number_to_phone customer.phone %></td>
          <td><%= mail_to customer.email, customer.email, encode: "javascript"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= will_paginate customers, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>  
<% end %>
<p>&nbsp;</p>
