<h3><%= @item.name %></h3><br>

<% if @item.picture_url.nil? %>
<p><%= image_tag 'nopic.jpeg', class: "item-image" %><p>
<% else %>
<%= image_tag @item.picture_url, class: "show-item-image" %>
<% end %>

<p>
  <b>Description</b>:<br> <%= @item.description %>
</p>

<p>
  <b>Category</b>:<br> <%= @item.category.titleize %>
</p>

<p>
  <b>Units per Item</b>:<br> <%= @item.units_per_item %>
</p>

<p>
  <b>Weight</b>:<br> <%= @item.weight %> lbs
</p>

<p>
  <b>Price</b>:<br> <%= number_to_currency @item.current_price %>
</p>

<% if logged_in? && current_user.role?(:admin) %>
    <p>
    <b>Active</b>:<br> <%= @item.active ? 'Yes' : 'No' %>
    </p>
<% end %>

  <% if can? :add_to_cart, Order %>
  <% if current_user.role?(:customer) %>
    <%= link_to "Add to Cart", add_to_cart_path(@item), class: 'waves-effect waves-light btn pulse' %>
  <% else %>
    <%= link_to "Add to Cart", add_to_cart_path(@item), class: 'waves-effect waves-light btn' %>
  <% end %>
<% end %>
