<% if logged_in? && current_user.role?(:customer) %>
<%= render partial: "partials/search_with_title", locals: {title: "Items"}%>
<% else %>
<h4 align="center">Items</h4>
<% end %>
<% if logged_in? && current_user.role?(:admin) %>
  <%= render partial: "tabbed_items" %>
<% else %>
  <%= render partial: "item_grid", locals: {items: @breads,
                                                      item_type: 'breads'} %><br/>

  <%= render partial: "item_grid", locals: {items: @muffins,
                                                      item_type: 'muffins'} %><br/>

  <%= render partial: "item_grid", locals: {items: @pastries,
                                                      item_type: 'pastries'} %><br/>
<% end %>

<% if can? :create, Item %>
  <%= render partial: "partials/add_new_object", locals: {model_name: 'item'} %>
<% end %>